* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #39289f;
    font-family: "Poppins", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    padding: 0 150px;
    color: white;
    position: relative;
    z-index: 3;
    /* Increased to ensure it stays above .joystick */
}

.navbar {
    display: flex;
    gap: 100px;
    list-style-type: none;
}

.contact-us {
    background-color: #fa9021;
    padding: 8px 20px;
    border-radius: 10px;
    border: none;
}

.header ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 80px;
}

.header a {
    color: white;
    text-decoration: none;
}

.navbar li button {
    color: white;
    background-color: #FA9021;
}


.hero-section{
    display: flex;
    justify-content: space-between;
    margin-top: 20vh;
    margin-bottom: 30vh;
    margin-left: 150px;
}
.hero-section-content{
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
}
.hero-section-content span p{
    display: inline;
    color: white;
    font-size: 12px;
    
}
.hero-section-content h1{
    font-size :30px; 
    margin: 30px 0;
    font-weight: 700;
    color: white;
    width: 425px;
}
.hero-section-content p{
    font-size: 15px;
    font-weight: 400;
    color: white;
    width: 414px;
    margin-bottom: 100px;
}

.hero-section-content button{
    background-color: #fa9021;
    padding: 8px 20px;
    border-radius: 20px;
    border: none;
    height: 48px;
    color: white    ;
    
}
.work-with-us{
    color: white;
    margin-left: 150px;  
}
.work-with-us h1{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 30px;
}
.work-with-us-card-container{
    display: flex;
    justify-content: flex-start;
    gap: 30px;

}
.work-with-us-card{
    height: 348px;
    width: 378px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1C140F;
    border-radius: 20px;
}
.work-with-us-card h4{
    height: 39px;
    width: 140px;
    background-color: #B000DC1C;
    text-align: center;
    padding-top: 8px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 14px;
    margin-left: 20px;
    border-radius: 7px;
}
.work-with-us-card h3{
    font-weight: 600;
    font-size: 20px;
    margin-left: 25px;
    margin-bottom: 30px;
}
.work-with-us-card p {
    font-weight: 400;
    font-size: 14px;
    margin-left: 25px;
    width: 304px;
}

.black-div{

    background-color: #1C140F;
    height: 603px;
    margin-top: 150px;
    display: flex;
    align-items: center;

    
}
.black-div-img{
   margin-left: 150px;
    align-self: flex-end;
}
.black-div-content{
    margin-left: 150px;
    display: flex;
    flex-direction: column;
    color: white;
}
.black-div-content h4{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 30px;
}
.black-div-content h3 {
    font-size: 28px;
    width: 531px;
    font-weight: 600;
    margin-bottom: 30px;
}
.black-div-content p{
    font-size: 16px;
    font-weight: 400;
    width: 536px;
}
.our-team{
    margin-top: 150px;
    margin-left: 150px;
    display: flex;
    flex-direction: column;
}
.our-team h1{
    color: white;
    font-size: 25px;
    font-weight: 600;
}
.our-team-card-container{
    margin-top: 50px;
    display: flex;
    justify-content: start;
    gap: 50px;

}
.our-team-card{
    background-color: #1C140F;
    width: 260px;
    height: 253px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.our-team-card h3{
    font-size: 19px;
    font-weight: 600;
    color: white;

}
.our-team-card p{
    color: #E8E8E8;
    font-size: 16px;
    font-weight: 300;
}

.subscribe {
    display: flex;
    margin-left: 155px;
    margin-top: 80px;
    margin-right: 100px;
    background-color: #1C140F;
    height: 189px;
    border-radius: 10px;
    align-items: center;
    margin-bottom: 150px;
    justify-content: space-evenly;


}

.subscribe-content {
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    color: white;

}

.subscribe-content h1 {
    font-size: 30px;
    font-weight: 500;
    margin-top: 10px;

}

.subscribe-content p {
    font-size: 17px;
    font-weight: 400;
    margin-top: 20px;
    width: 535px;

}

.subscribe-input-field {
    background-color: white;
    margin-top: 20px;
    width: 385px;
    height: 48px;
    display: flex;
    border-radius: 10px;
    align-items: center;
}

.subscribe-input-field input {
    font-size: 13px;
    font-weight: 300;
    color: #898989;
    margin-left: 40px;
    border: none;
    outline: none;
}

.subscribe-input-field button {
    background-color: #fa9021;
    padding: 8px 20px;
    border-radius: 10px;
    border: none;
    color: white;
    margin-left: 75px;
}

.footer {
    height: 376px;
    background-color: #070707;
}

.footer-card-container {

    display: flex;
    justify-content: space-evenly;
    align-items: start;
    height: 41vh;
    border-bottom: 1px solid white;
}

.footer-card {
    color: white;
    height: 30px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;


}

.footer-card h1 {
    margin-top: 10px;
    margin-bottom: 20px;
}

.footer-card p {
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 400;
    text-align: left;
    width: 372px;
}

.footer-card h3 {
    font-size: 17px;
    margin-bottom: 20px;
    font-weight: 500;
}

.footer-card ul {
    list-style: none;
}

#width {
    width: 282px;
}

.footer-card-logo {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    align-self: end;
}

#footerp {
    font-size: 13px;
    font-weight: 400;
    color: white;
    margin-top: 30px;
    text-align: center;
}